In [12]:
#Import necessory libraries
import selenium
import pandas as pd
import time
import  requests
from  bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

In [13]:
# Activating the chrome browser
s=Service("chromedriver.exe")  #opening chrome
driver = webdriver.Chrome(service=s)    
time.sleep(3)

# FLIPKART

In [14]:
url = "https://www.flipkart.com/"
driver.get(url)
time.sleep(2)
#clicking on cancel buttopn 
driver.find_element(By.XPATH,"//div[@class='_2QfC02']/button").click()

In [15]:
srch_data = ['Phones','smart watches']

In [16]:
title = []
review_text = []
ratings = []

In [17]:
def scrap():    
        for i in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']"):
            review_text.append(i.text)
        for i in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"):
            title.append(i.text)
        for i in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']/../div"):
            ratings.append(i.text)
        return

In [18]:
urls=[]

In [19]:
for i in srch_data:
    #Find search bar
    srchBar = driver.find_element(By.XPATH,"//div[@class='_3OO5Xc']/input")
    srchBar.clear()
    srchBar.send_keys(i)
    #clicking on search button
    driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']").click()
    time.sleep(3)
    page = []
    for i in driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']/a"):
        page.append(i.get_attribute('href'))
    for i in page[0:4]:
        driver.get(i)
        time.sleep(3)
        items = driver.find_elements(By.XPATH,"//a[@class='_1fQZEK']")
        for i in items:
            urls.append(i.get_attribute('href'))

In [20]:
len(urls)

192

In [ ]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    for _ in range(2):
        driver.execute_script("window.scrollBy(0,6000)")
        time.sleep(1)
        #clicking on all reviews
    try:
        btn=driver.find_element(By.XPATH,"//div[@class='_2c2kV-']/following::a")
        lnk = btn.get_attribute('href')
        driver.get(lnk)
        time.sleep(1)
    except NoSuchElementException:
        pass

    scrap()        
    try:
        n_page=driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']/a")
        np=[]
        for i in n_page:
            np.append(i.get_attribute('href'))
        for i in np[0:18]:
            driver.get(i)
            time.sleep(1)
            scrap()
    except: continue

In [22]:
len(ratings), len(review_text), len(title)

(13536, 13536, 13536)

In [23]:
#creating a dataframe
data = list(zip(title,review_text,ratings))
df2 = pd.DataFrame(data, columns = ["Review_Title","Reiew_Text","Ratings"])
df2

,Review_Title,Reiew_Text,Ratings
0,Just wow!,In this price.....this phone is fantastic guys...,5
1,Terrific purchase,First impression is very good . Value for mone...,5
2,Great product,Thank you for Flipkart again for good conditio...,5
3,Classy product,This is a very premium looking mobile with lar...,5
4,Good quality product,Good value for money product. Camera I not tha...,4
...,...,...,...
13531,Nice,Nice m5 Smart watch.,3
13532,Good choice,It is very nice product thanks flipkart .go fo...,4
13533,Just okay,Good,3
13534,Brilliant,Very good,5
13535,Terrific purchase,Nice it is good to take,5

In [61]:
#saving the data into csv file
df2.to_csv("flipkrt1_reviews.csv")

In [24]:
# Activating the chrome browser
s=Service("chromedriver.exe")  #opening chrome
driver = webdriver.Chrome(service=s)    
time.sleep(3)

In [25]:
url = "https://www.flipkart.com/"
driver.get(url)
time.sleep(2)
#clicking on cancel buttopn 
driver.find_element(By.XPATH,"//div[@class='_2QfC02']/button").click()

In [26]:
srch_data = ['Monitors','printers']

In [27]:
title = []
review_text = []
ratings = []

In [28]:
def scrap():    
        for i in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']"):
            review_text.append(i.text)
        for i in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"):
            title.append(i.text)
        for i in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']/../div"):
            ratings.append(i.text)
        return

In [29]:
urls=[]

In [30]:
for i in srch_data:
    #Find search bar
    srchBar = driver.find_element(By.XPATH,"//div[@class='_3OO5Xc']/input")
    srchBar.clear()
    srchBar.send_keys(i)
    #clicking on search button
    driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']").click()
    time.sleep(3)
    page = []
    for i in driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']/a"):
        page.append(i.get_attribute('href'))
    for i in page[0:3]:
        driver.get(i)
        time.sleep(3)
        items = driver.find_elements(By.XPATH,"//a[@class='_1fQZEK']")
        for i in items:
            urls.append(i.get_attribute('href'))

In [31]:
len(urls)

72

In [32]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    for _ in range(2):
        driver.execute_script("window.scrollBy(0,6000)")
        time.sleep(1)
        #clicking on all reviews
    try:
        btn=driver.find_element(By.XPATH,"//div[@class='_2c2kV-']/following::a")
        lnk = btn.get_attribute('href')
        driver.get(lnk)
        time.sleep(1)
    except NoSuchElementException:
        pass

    scrap()        
    try:
        n_page=driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']/a")
        np=[]
        for i in n_page:
            np.append(i.get_attribute('href'))
        for i in np[0:18]:
            driver.get(i)
            time.sleep(1)
            scrap()
    except: continue

In [33]:
len(ratings), len(review_text), len(title)

(4595, 4595, 4595)

In [34]:
#creating a dataframe
data = list(zip(title,review_text,ratings))
df3 = pd.DataFrame(data, columns = ["Review_Title","Reiew_Text","Ratings"])
df3

,Review_Title,Reiew_Text,Ratings
0,Worth the money,"Great picture quality, the curvy screen has a ...",4
1,Fabulous!,Price worth product.clean n clear picture.,5
2,Awesome,Sperb,5
3,Nice product,It's good monitor for gaming and your regular ...,4
4,Good choice,A great monitor at this price range and specif...,4
...,...,...,...
4590,Waste of money.......go for other better option,"The display is a yellow-tinted, white color sh...",2
4591,Wonderful,"Best 2k 165Hz Monitor in this range, definitel...",5
4592,Pretty good but with bad speakers,The monitor is excellent but the dual speakers...,4
4593,Best monitor with worst speakers.,The monitor is best for everything except the ...,5
4594,Great product,"Its a must have !\nToo good.\nGood colors,qual...",5

In [62]:
#saving the data into csv file
df3.to_csv("flipkrt2_reviews.csv")

In [35]:
# Activating the chrome browser
s=Service("chromedriver.exe")  #opening chrome
driver = webdriver.Chrome(service=s)    
time.sleep(3)

In [36]:
url = "https://www.flipkart.com/"
driver.get(url)
time.sleep(2)
#clicking on cancel buttopn 
driver.find_element(By.XPATH,"//div[@class='_2QfC02']/button").click()

In [37]:
srch_data = ['laptops','printers']

In [38]:
title = []
review_text = []
ratings = []

In [39]:
def scrap():    
        for i in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']"):
            review_text.append(i.text)
        for i in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"):
            title.append(i.text)
        for i in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']/../div"):
            ratings.append(i.text)
        return

In [40]:
urls=[]

In [41]:
for i in srch_data:
    #Find search bar
    srchBar = driver.find_element(By.XPATH,"//div[@class='_3OO5Xc']/input")
    srchBar.clear()
    srchBar.send_keys(i)
    #clicking on search button
    driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']").click()
    time.sleep(3)
    page = []
    for i in driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']/a"):
        page.append(i.get_attribute('href'))
    for i in page[0:3]:
        driver.get(i)
        time.sleep(3)
        items = driver.find_elements(By.XPATH,"//a[@class='_1fQZEK']")
        for i in items:
            urls.append(i.get_attribute('href'))

In [42]:
len(urls)

72

In [43]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    for _ in range(2):
        driver.execute_script("window.scrollBy(0,6000)")
        time.sleep(1)
        #clicking on all reviews
    try:
        btn=driver.find_element(By.XPATH,"//div[@class='_2c2kV-']/following::a")
        lnk = btn.get_attribute('href')
        driver.get(lnk)
        time.sleep(1)
    except NoSuchElementException:
        pass

    scrap()        
    try:
        n_page=driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']/a")
        np=[]
        for i in n_page:
            np.append(i.get_attribute('href'))
        for i in np[0:18]:
            driver.get(i)
            time.sleep(1)
            scrap()
    except: continue

In [44]:
len(ratings), len(review_text), len(title)

(4504, 4504, 4504)

In [45]:
#creating a dataframe
data = list(zip(title,review_text,ratings))
df4 = pd.DataFrame(data, columns = ["Review_Title","Review_Text","Ratings"])
df4

,Review_Title,Review_Text,Ratings
0,Value-for-money,Good performance\nBattery hungry\nNice design,4
1,Fabulous!,The best laptop at this range I buyed msi gf 6...,5
2,Perfect product!,"Excellent performance. Power-hungry? yes, but ...",5
3,Slightly disappointed,Laptop screen backlight is not great and even ...,2
4,Decent product,"Everything is good but battery is wrost, 3 hou...",3
...,...,...,...
4499,Fair,Camera is bad,3
4500,Must buy!,This laptop is fabulous for studying .value fo...,5
4501,Value-for-money,best laptop in medium buget and higher gen,4
4502,Very poor,Display broken in 2 days,1
4503,Expected a better product,Backlit keyboard superb\nSpeed ok-ish\nWindows...,2

In [63]:
#saving the data into csv file
df4.to_csv("flipkrt3_reviews.csv")

# AMAZON

In [46]:
# Activating the chrome browser
s=Service("chromedriver.exe")  #opening chrome
driver = webdriver.Chrome(service=s)    
time.sleep(3)

In [47]:
url = "https://www.amazon.in/"
driver.get(url)
time.sleep(3)

In [ ]:
#Searching headphones in the search bar and clicking the search button
search_bar=driver.find_element_by_id('twotabsearchtextbox')
search_bar.send_keys("headphones")

driver.find_element_by_id('nav-search-submit-button').click()

In [ ]:
#Creating empty lists
Product_URL=[]
Ratings=[]
Review=[]

#Getting URLs of the product
for i in range(1,4):
    URL = driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a")
    for i in URL:
        Product_URL.append(i.get_attribute('href'))
    try:
        next_btn=driver.find_element(By.XPATH,"//li[@class='a-last']/a").click()
    except NoSuchElementException:
        pass
    
for i in Product_URL:
    driver.get(i)
    
    #Clicking the rating
    try:
        driver.find_element(By.XPATH,"//a[1][@id='acrCustomerReviewLink']").click()
    except NoSuchElementException:
        print("No rating")
        pass
    
    #Clicking to see all reviews
    try:
        driver.find_element(By.XPATH,"//a[@class='a-link-emphasis a-text-bold']").click()
    except NoSuchElementException:
        pass
    
    #Scrapping the details
    Start_page=1
    End_page=30
    for page in range(Start_page,End_page+1):
        try:
            Reviews=driver.find_elements(By.XPATH,"//div[@class='a-row a-spacing-small review-data']/span/span")
            for r in Reviews:
                Review.append(r.text.replace('\n',''))
        except NoSuchElementException:
            Review.append("Not Available")
        try:
            Rating=driver.find_elements(By.XPATH,"//div[@class='a-section celwidget']/div[2]/a[1]")
            for i in Rating:
                rating=i.get_attribute('title')
                Ratings.append(rating[:3])
        except NoSuchElementException:
            Ratings.append("Not available")      
            
        #Printing the page scrapped
        #print("Product review and rating  of page {} scraped ".format(page+1))
        
        #Looping for going to next page automatically
        try:
            next_page=driver.find_element(By.XPATH,"//div[@id='cm_cr-pagination_bar']/ul/li[2]/a")
            if next_page.text=='Next Page':
                next_page.click()
                time.sleep(2)
        except NoSuchElementException:
            pass

In [50]:
#Checking the length of data extracted
print(len(Review),len(Ratings))

12060 12000

In [54]:
#Saving in dataframe
df5=pd.DataFrame({'Review_Text':Review[:12000],'Ratings':Ratings[:12000]})
df5

                                             Review_Text Ratings
0      It has great sound quality and bass but after ...     1.0
1      [BIG UPDATE]IT BROKE ALONG THE RIGHT HINGE, I ...     2.0
2      This is a premium quality product from boAt-Li...     5.0
3      The boAt Rockerz line is boAt's super cheap li...     1.0
4      Material is very poor quality but service also...     5.0
...                                                  ...     ...
11995  The Build quality is very poor, Never purchase...     4.0
11996  BoAt gives us a good quality sound than sony h...     1.0
11997  Had a good review but nowUpdate : after 1month...     1.0
11998  lokking nice and desing is very good but durin...     5.0
11999  These over-ear headphones sound great with thu...     1.0

[12000 rows x 2 columns]

In [64]:
#saving the data into csv file
df5.to_csv("amazon1_reviews.csv")

In [53]:
# Activating the chrome browser
s=Service("chromedriver.exe")  #opening chrome
driver = webdriver.Chrome(service=s)    
time.sleep(3)

In [55]:
url = "https://www.amazon.in/"
driver.get(url)
time.sleep(3)

In [ ]:
#Searching headphones in the search bar and clicking the search button
search_bar=driver.find_element_by_id('twotabsearchtextbox')
search_bar.send_keys("Routers")

driver.find_element_by_id('nav-search-submit-button').click()

In [ ]:
#Creating empty lists
Product_URL=[]
Ratings=[]
Review=[]

#Getting URLs of the product
for i in range(1,4):
    URL = driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a")
    for i in URL:
        Product_URL.append(i.get_attribute('href'))
    try:
        next_btn=driver.find_element(By.XPATH,"//li[@class='a-last']/a").click()
    except NoSuchElementException:
        pass
    
for i in Product_URL:
    driver.get(i)
    
    #Clicking the rating
    try:
        driver.find_element(By.XPATH,"//a[1][@id='acrCustomerReviewLink']").click()
    except NoSuchElementException:
        print("No rating")
        pass
    
    #Clicking to see all reviews
    try:
        driver.find_element(By.XPATH,"//a[@class='a-link-emphasis a-text-bold']").click()
    except NoSuchElementException:
        pass
    
    #Scrapping the details
    Start_page=1
    End_page=30
    for page in range(Start_page,End_page+1):
        try:
            Reviews=driver.find_elements(By.XPATH,"//div[@class='a-row a-spacing-small review-data']/span/span")
            for r in Reviews:
                Review.append(r.text.replace('\n',''))
        except NoSuchElementException:
            Review.append("Not Available")
        try:
            Rating=driver.find_elements(By.XPATH,"//div[@class='a-section celwidget']/div[2]/a[1]")
            for i in Rating:
                rating=i.get_attribute('title')
                Ratings.append(rating[:3])
        except NoSuchElementException:
            Ratings.append("Not available")      
            
        #Printing the page scrapped
        #print("Product review and rating  of page {} scraped ".format(page+1))
        
        #Looping for going to next page automatically
        try:
            next_page=driver.find_element(By.XPATH,"//div[@id='cm_cr-pagination_bar']/ul/li[2]/a")
            if next_page.text=='Next Page':
                next_page.click()
                time.sleep(2)
        except NoSuchElementException:
            pass

In [58]:
#Checking the length of data extracted
print(len(Review),len(Ratings))

3930 3810

In [60]:
#Saving in dataframe
df6=pd.DataFrame({'Review_Text':Review[:3800],'Ratings':Ratings[:3800]})
df6

                                            Review_Text Ratings
0     What a wonderful item best QualityEasy to inst...     5.0
1     What a wonderful item best QualityEasy to inst...     5.0
2     What a wonderful item best QualityEasy to inst...     5.0
3     What a wonderful item best QualityEasy to inst...     5.0
4     What a wonderful item best QualityEasy to inst...     5.0
...                                                 ...     ...
3795  This product is nothing but overpriced hype. A...     1.0
3796  Very much satisfied with the overall performan...     5.0
3797  Thereâ€™s a very basic issue in how the TP Link ...     2.0
3798  If you have home close to 2000 Sqft this shoul...     3.0
3799  My Setup:* I have UPS connected to both my sat...     5.0

[3800 rows x 2 columns]

In [65]:
#saving the data into csv file
df6.to_csv("amazon2_reviews.csv")

In [66]:
#lets load the flipkart reviews file
flp1 = pd.read_csv("flipkrt1_reviews.csv")
flp1

,Unnamed: 0,Review_Title,Reiew_Text,Ratings
0,0,Just wow!,In this price.....this phone is fantastic guys...,5
1,1,Terrific purchase,First impression is very good . Value for mone...,5
2,2,Great product,Thank you for Flipkart again for good conditio...,5
3,3,Classy product,This is a very premium looking mobile with lar...,5
4,4,Good quality product,Good value for money product. Camera I not tha...,4
...,...,...,...,...
13531,13531,Nice,Nice m5 Smart watch.,3
13532,13532,Good choice,It is very nice product thanks flipkart .go fo...,4
13533,13533,Just okay,Good,3
13534,13534,Brilliant,Very good,5
13535,13535,Terrific purchase,Nice it is good to take,5

In [82]:
# Dropping Unnamed: 0 in amazon file
flp1.drop(columns = 'Unnamed: 0', inplace=True)

In [83]:
flp1

,Review_Title,Reiew_Text,Ratings
0,Just wow!,In this price.....this phone is fantastic guys...,5
1,Terrific purchase,First impression is very good . Value for mone...,5
2,Great product,Thank you for Flipkart again for good conditio...,5
3,Classy product,This is a very premium looking mobile with lar...,5
4,Good quality product,Good value for money product. Camera I not tha...,4
...,...,...,...
13531,Nice,Nice m5 Smart watch.,3
13532,Good choice,It is very nice product thanks flipkart .go fo...,4
13533,Just okay,Good,3
13534,Brilliant,Very good,5
13535,Terrific purchase,Nice it is good to take,5

merging two column

In [67]:
#lets load the flipkart2 reviews file
flp2 = pd.read_csv("flipkrt2_reviews.csv")
flp2

,Unnamed: 0,Review_Title,Reiew_Text,Ratings
0,0,Worth the money,"Great picture quality, the curvy screen has a ...",4
1,1,Fabulous!,Price worth product.clean n clear picture.,5
2,2,Awesome,Sperb,5
3,3,Nice product,It's good monitor for gaming and your regular ...,4
4,4,Good choice,A great monitor at this price range and specif...,4
...,...,...,...,...
4590,4590,Waste of money.......go for other better option,"The display is a yellow-tinted, white color sh...",2
4591,4591,Wonderful,"Best 2k 165Hz Monitor in this range, definitel...",5
4592,4592,Pretty good but with bad speakers,The monitor is excellent but the dual speakers...,4
4593,4593,Best monitor with worst speakers.,The monitor is best for everything except the ...,5
4594,4594,Great product,"Its a must have !\nToo good.\nGood colors,qual...",5

In [88]:
# Dropping Unnamed: 0 in flipkart file
flp1.drop(columns = 'Review_Title',inplace=True)

In [ ]:
# Dropping Unnamed: 0 in flipkart file
flp1.drop(columns = 'Unnamed: 0',inplace=True)

In [90]:
flp1

                                              Reiew_Text  Ratings
0      In this price.....this phone is fantastic guys...        5
1      First impression is very good . Value for mone...        5
2      Thank you for Flipkart again for good conditio...        5
3      This is a very premium looking mobile with lar...        5
4      Good value for money product. Camera I not tha...        4
...                                                  ...      ...
13531                               Nice m5 Smart watch.        3
13532  It is very nice product thanks flipkart .go fo...        4
13533                                               Good        3
13534                                          Very good        5
13535                            Nice it is good to take        5

[13536 rows x 2 columns]

In [80]:
# Dropping Unnamed: 0 in amazon file
flp2.drop(columns = 'Unnamed: 0', inplace=True)

In [81]:
flp2

,Review_Title,Reiew_Text,Ratings
0,Worth the money,"Great picture quality, the curvy screen has a ...",4
1,Fabulous!,Price worth product.clean n clear picture.,5
2,Awesome,Sperb,5
3,Nice product,It's good monitor for gaming and your regular ...,4
4,Good choice,A great monitor at this price range and specif...,4
...,...,...,...
4590,Waste of money.......go for other better option,"The display is a yellow-tinted, white color sh...",2
4591,Wonderful,"Best 2k 165Hz Monitor in this range, definitel...",5
4592,Pretty good but with bad speakers,The monitor is excellent but the dual speakers...,4
4593,Best monitor with worst speakers.,The monitor is best for everything except the ...,5
4594,Great product,"Its a must have !\nToo good.\nGood colors,qual...",5

In [84]:
# Dropping Unnamed: 0 in flipkart file
flp2.drop(columns = 'Review_Title', inplace=True)

In [85]:
flp2

                                             Reiew_Text  Ratings
0     Great picture quality, the curvy screen has a ...        4
1            Price worth product.clean n clear picture.        5
2                                                 Sperb        5
3     It's good monitor for gaming and your regular ...        4
4     A great monitor at this price range and specif...        4
...                                                 ...      ...
4590  The display is a yellow-tinted, white color sh...        2
4591  Best 2k 165Hz Monitor in this range, definitel...        5
4592  The monitor is excellent but the dual speakers...        4
4593  The monitor is best for everything except the ...        5
4594  Its a must have !\nToo good.\nGood colors,qual...        5

[4595 rows x 2 columns]

In [68]:
#lets load the flipkart2 reviews file
flp3 = pd.read_csv("flipkrt3_reviews.csv")
flp3

       Unnamed: 0                                        Review_Text  Ratings
0               0  It has great sound quality and bass but after ...      1.0
1               1  [BIG UPDATE]IT BROKE ALONG THE RIGHT HINGE, I ...      2.0
2               2  This is a premium quality product from boAt-Li...      5.0
3               3  The boAt Rockerz line is boAt's super cheap li...      1.0
4               4  Material is very poor quality but service also...      5.0
...           ...                                                ...      ...
11995       11995  The Build quality is very poor, Never purchase...      4.0
11996       11996  BoAt gives us a good quality sound than sony h...      1.0
11997       11997  Had a good review but nowUpdate : after 1month...      1.0
11998       11998  lokking nice and desing is very good but durin...      5.0
11999       11999  These over-ear headphones sound great with thu...      1.0

[12000 rows x 3 columns]

In [ ]:
# Dropping Unnamed: 0 in flipkart file
flp3.drop(columns = 'Unnamed: 0', inplace=True)

In [79]:
flp3

                                             Review_Text  Ratings
0      It has great sound quality and bass but after ...      1.0
1      [BIG UPDATE]IT BROKE ALONG THE RIGHT HINGE, I ...      2.0
2      This is a premium quality product from boAt-Li...      5.0
3      The boAt Rockerz line is boAt's super cheap li...      1.0
4      Material is very poor quality but service also...      5.0
...                                                  ...      ...
11995  The Build quality is very poor, Never purchase...      4.0
11996  BoAt gives us a good quality sound than sony h...      1.0
11997  Had a good review but nowUpdate : after 1month...      1.0
11998  lokking nice and desing is very good but durin...      5.0
11999  These over-ear headphones sound great with thu...      1.0

[12000 rows x 2 columns]

In [71]:
#lets load the amazon review file
amaz1=pd.read_csv("amazon1_reviews.csv")
amaz1

       Unnamed: 0                                        Review_Text  Ratings
0               0  It has great sound quality and bass but after ...      1.0
1               1  [BIG UPDATE]IT BROKE ALONG THE RIGHT HINGE, I ...      2.0
2               2  This is a premium quality product from boAt-Li...      5.0
3               3  The boAt Rockerz line is boAt's super cheap li...      1.0
4               4  Material is very poor quality but service also...      5.0
...           ...                                                ...      ...
11995       11995  The Build quality is very poor, Never purchase...      4.0
11996       11996  BoAt gives us a good quality sound than sony h...      1.0
11997       11997  Had a good review but nowUpdate : after 1month...      1.0
11998       11998  lokking nice and desing is very good but durin...      5.0
11999       11999  These over-ear headphones sound great with thu...      1.0

[12000 rows x 3 columns]

In [91]:
# Dropping Unnamed: 0 in amazon file
amaz1.drop(columns = 'Unnamed: 0', inplace=True)

In [72]:
#lets load the amazon review file
amaz2=pd.read_csv("amazon2_reviews.csv")
amaz2

      Unnamed: 0                                        Review_Text  Ratings
0              0  What a wonderful item best QualityEasy to inst...      5.0
1              1  What a wonderful item best QualityEasy to inst...      5.0
2              2  What a wonderful item best QualityEasy to inst...      5.0
3              3  What a wonderful item best QualityEasy to inst...      5.0
4              4  What a wonderful item best QualityEasy to inst...      5.0
...          ...                                                ...      ...
3795        3795  This product is nothing but overpriced hype. A...      1.0
3796        3796  Very much satisfied with the overall performan...      5.0
3797        3797  Thereâ€™s a very basic issue in how the TP Link ...      2.0
3798        3798  If you have home close to 2000 Sqft this shoul...      3.0
3799        3799  My Setup:* I have UPS connected to both my sat...      5.0

[3800 rows x 3 columns]

In [92]:
# Dropping Unnamed: 0 in amazon file
amaz2.drop(columns = 'Unnamed: 0', inplace=True)

Concating

In [96]:
# Changing the column name in amazon file similar to flipkart file
flp1.rename(columns = {'Reiew_Text':'Review_Text'}, inplace = True)

In [98]:
flp2.rename(columns={'Reiew_Text':'Review_Text'}, inplace = True)

In [99]:
flp1

                                             Review_Text  Ratings
0      In this price.....this phone is fantastic guys...        5
1      First impression is very good . Value for mone...        5
2      Thank you for Flipkart again for good conditio...        5
3      This is a very premium looking mobile with lar...        5
4      Good value for money product. Camera I not tha...        4
...                                                  ...      ...
13531                               Nice m5 Smart watch.        3
13532  It is very nice product thanks flipkart .go fo...        4
13533                                               Good        3
13534                                          Very good        5
13535                            Nice it is good to take        5

[13536 rows x 2 columns]

In [100]:
#Concating both the files
df = pd.concat([flp1,flp2,flp3,amaz1,amaz2],ignore_index=True)
df

                                             Review_Text  Ratings
0      In this price.....this phone is fantastic guys...      5.0
1      First impression is very good . Value for mone...      5.0
2      Thank you for Flipkart again for good conditio...      5.0
3      This is a very premium looking mobile with lar...      5.0
4      Good value for money product. Camera I not tha...      4.0
...                                                  ...      ...
45926  This product is nothing but overpriced hype. A...      1.0
45927  Very much satisfied with the overall performan...      5.0
45928  Thereâ€™s a very basic issue in how the TP Link ...      2.0
45929  If you have home close to 2000 Sqft this shoul...      3.0
45930  My Setup:* I have UPS connected to both my sat...      5.0

[45931 rows x 2 columns]

In [101]:
#saving the data into csv file
df.to_csv("dfrating.csv")